mat-card {
    margin: 15px;
    .login-form {
        display: flex;
        flex-direction: column;
        * {
            width: 100%;
            fa-icon {
                margin-left: 25px;
            }
        }
        button {
            margin-top: 10px;
        }
    }
}