<mat-card>
    <div class="login-form">
        <mat-form-field>
            <input
                matInput
                placeholder="Tu nombre de usuario va aqui"
                type='text'
                cdkFocusInitial
                required
                [formControl]="username"
                >
            <mat-error *ngIf="username.invalid">{{getErrorMessage('username')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                placeholder="Y aquí tu contraseña"
                [type]="hidePassword ? 'password' : 'text'"
                required
                [formControl]="password"
                (keyup.enter)="login()"
                >
            <mat-error *ngIf="password.invalid">{{getErrorMessage('password')}}</mat-error>
            <button
                mat-button
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Ocultar Constraseña'"
                >
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button
            mat-raised-button
            color="primary"
            [disabled]="sendLogin || !(this.username.dirty && this.password.dirty && this.username.valid && this.password.valid)"
            (click)="login()"
            >
            Ingresar
        </button>
        <!--<hr />
        <button mat-raised-button color="primary">
            Ingresar con Google
        </button>
        
        <button mat-raised-button color="primary">
            Ingresar con Facebook
        </button>-->
    </div>
</mat-card>