.navbar{
    background-color: darken( $green-color, 10% );
    display: flex;
    padding-bottom: 0px;
    justify-content: initial;
    .navbar-logo {
        flex: 1 1 auto;
    }
    .navbar-menu {
        color: white;
        button {
            &:hover {
            color: black;
            }
        }
    }
}