.mat-snack-bar-container {
    &.error {
        color: white;
        background-color: red;
        @media screen and (max-width: $bp-phone) {
            margin: 0px!important;
            border-radius: 0px!important;
        }
        button {
            font-weight: normal;
            color: white;
        }
    }
}