@import './colors.scss';
@import './screen-sizes.scss';

@import './bootstrap-overwrite.scss';
@import './public-layout.scss';
@import './private-layout.scss';
@import './footer.scss';
@import './navbar.scss';
@import './snack-bar.scss';

.horizontalMirror{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1); /* Opera */
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.verticalMirror{
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1); /* Opera */
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}