@import './../../../../styles/colors.scss';

button {
    &.active {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        //border-bottom: 4px solid darken($green-color, 30%);
        border-bottom: 4px solid white;
    }
}