<mat-accordion>
    <mat-expansion-panel *ngFor="let current of areas">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{current.name}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngIf="!votes[current.id].active">Usted ya emitio un voto en este area</p>
        <mat-radio-group aria-label="Selecciona una persona" [(ngModel)]="votes[current.id].employee" *ngIf="votes[current.id].active">
            <mat-radio-button *ngFor="let currentEmployee of employees" value="{{currentEmployee.id}}">{{currentEmployee.name}}</mat-radio-button>
        </mat-radio-group>
        <br>
        <mat-form-field class="full-width" *ngIf="votes[current.id].active">
            <mat-label>Comentario</mat-label>
            <textarea matInput placeholder="Comentario"  [(ngModel)]="votes[current.id].comment"></textarea>
        </mat-form-field>
    </mat-expansion-panel>
</mat-accordion>

<div class="text-right">
    <button
        mat-raised-button
        color="primary"
        (click)="vote()"
        >
        Emitir Votos
    </button>
</div>
